html, body{
    height: 100%;
}

body{
    display: flex;
}

.Wrapper{
    width: 100%;   
    margin: 5px;
}

.Wrapper .Report{
    width: 80%;
    float:left;
    border: 1px solid black;
    height: 100%;
}

.Wrapper .Chatbox{
    margin-left: 10px;
    width: 18%;
    float: right;
    border: 1px solid black;
    height: 100%;
}

.Wrapper .Chatbox .Chatbox-wrapper{
    position: relative; 
    width: 100%;
    height: 100%;   
}

.Wrapper .Chatbox .Chatbox-wrapper .chatbox-textArea{
    position: absolute;
    bottom: 0;
    right: 0;
    width:100%;
    height: 10%;
}

.Wrapper .Chatbox .Chatbox-wrapper .chatbox-textArea .chatWindow{
    width: 100%;
    float: left;
}

.Wrapper .Chatbox .Chatbox-wrapper .chatbox-textArea .btnSumbmit{
    width: 15%;
    margin-left: 5px;
    float: right;
}


.Wrapper .Chatbox .Chatbox-wrapper .chatbox-response{
    position: absolute;
    top: 0;
    right: 0;
    width:100%;
    height: 85%;
}


.Wrapper .Chatbox .Chatbox-wrapper .chatbox-response .Request{
    margin-top:10px;
    float:right;
    width:80%;
    text-align:right;
    margin-right:10px;
     border:1px solid #fff;
    border-radius: 10px;
    background-color: lightyellow;   
    padding: 5px 2px 5px 2px;
    color: grey;
    font-weight: bold;
}


.Wrapper .Chatbox .Chatbox-wrapper .chatbox-response .Response{
    margin-top:10px;
    float:left;
    width:80%;
    text-align:left;
    margin-left:10px;
    border:1px solid #fff;
    border-radius: 10px;
    background-color: aliceblue;   
    padding: 5px 2px 5px 2px;
    color: grey;
    font-weight: bold;
}